<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>Acceleron Luna</title>
   <link type='text/css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600' rel='stylesheet'>
   <link type="text/css" href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
   <link type="text/css" href="assets/fonts/themify-icons/themify-icons.css" rel="stylesheet">
   <link type="text/css" href="assets/css/styles.css" rel="stylesheet">
   <link type="text/css" href="assets/plugins/codeprettifier/prettify.css" rel="stylesheet">
   <link type="text/css" href="assets/plugins/iCheck/skins/minimal/blue.css" rel="stylesheet">
   

   <link rel="shortcut icon" href="assets/icons/favicon.png">

   <!-- Controller -->
   <script src="assets/js/jquery.js"></script>
   <script src="assets/js/angular.min.js"></script>
   <script src="assets/js/angular-cookies.min.js"></script>
   <script src="controllers/menu.js"></script>
   
   
   <script>
	   function changePrice(code, name, customFlag, size){
	
	      $('#customiseItem').modal('hide');
	      
	      var price = 0;
	      var tamperFlag = false;
	      var custom = [];
	      
	      if(customFlag){
		      var min = 0; 
		      var max = 0; 
		      var temp_price = 0;
	
		      for (var i = 0; i < size; i++){
		      	temp_price = parseInt(document.getElementById(code+'_'+i).value);
		      
		      	var cus_item = {};
		      	cus_item.customName = document.getElementById(code+'_'+i).attributes["name"].value;
		      	cus_item.customPrice = temp_price;
			if(isNaN(cus_item.customPrice)){
		      		alert('Price must be a Number');
		      		break;
		      		tamperFlag = true;      
		      	}
		      	else{	   
		      		custom.push(cus_item);
		      	}
		      	
		      	//Set min and max
		      	if(i == 0){ 
			      	min = temp_price ; 
			      	max = temp_price ;
		      	}
		      	else{
		      		if(temp_price <= min)
		      			min = temp_price ;
		      		if(temp_price >= max)
		      			max = temp_price ;
		      	}
		      }
		      
		      price = min+'-'+max;
	      }
	      else{
	      	price = parseInt(document.getElementById('price_'+code).value);
	      }
	      
	      var val = {};
	      val.isCustom = customFlag;
	      val.code = code;	    
	      val.price = price;
	      val.custom = custom;
	      val.token = getCookie("acceleronLunaAdminToken"); 

	
	      if(!tamperFlag){
		      $.ajax({
		          type: 'POST',
		          url: 'https://accelerateengine.app/food-engine/apis/editprice.php',
		          data: JSON.stringify(val),
		          contentType: "application/json",
		          dataType: 'json',
		          success: function(data) {
				if(!data.status){
					alert(data.error)
				}
				else{
					document.getElementById(code+'_pricebutton').innerHTML= '<button class="btn btn-sm btn-success zaitoonAdd"> <i class="fa fa-inr"></i> '+price+' </button>';
				}
		          }
		      });
	      
		      
	      }
	      else{
	      	alert('Failed to update.');
	      }
	    }
	    
	             function getCookie(cname) {
		        var name = cname + "=";
		        var decodedCookie = decodeURIComponent(document.cookie);
		        var ca = decodedCookie.split(';');
		        for(var i = 0; i < ca.length; i++) {
		            var c = ca[i];
		            while (c.charAt(0) == ' ') {
		                c = c.substring(1);
		            }
		            if (c.indexOf(name) == 0) {
		                return c.substring(name.length, c.length);
		            }
		        }
		        return "";
		      }
	    
   </script>

</head>

   <body class="animated-content" ng-app="MenuApp" ng-controller="menuController" ng-cloak>
     <header id="topnav" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="logo-area">
           <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
           <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
           <span class="icon-bg">
           <i class="ti ti-menu"></i>
           </span>
           </a>
           </span>
           <a class="navbar-brand" href="index.html" style="width: 125px"></a>
           <h1 style="font-size: 18px; font-weight: bold; text-transform: uppercase">{{outletCode}}</h1>
        </div>
        <!-- logo-area -->
        <ul class="nav navbar-nav toolbar pull-right">
           <li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
              <a href="#" class="toggle-fullscreen"><span class="icon-bg"><i class="ti ti-zoom-in"></i></span></i></a>
           </li>
           <li class="dropdown toolbar-icon-bg">
              <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
              <img class="img-circle" src="assets/img/default_user.png" alt="" />
              </a>
              <ul class="dropdown-menu userinfo arrow">
                 <li><a href="settings.html"><i class="ti ti-settings"></i><span>Settings</span></a></li>
                 <li ng-click="logoutNow()"><a href="#/"><i class="ti ti-shift-right"></i><span>Sign Out</span></a></li>
              </ul>
           </li>
        </ul>
     </header>
      <div id="wrapper">
         <div id="layout-static">
           <div class="static-sidebar-wrapper sidebar-default">
              <div class="static-sidebar">
                 <div class="sidebar">
                    <div class="widget stay-on-collapse" id="widget-sidebar">
                       <nav role="navigation" class="widget-body">
                           <ul class="acc-menu">
                              <!-- Smart Orders -->
                              <li>
                                  <a href="index.html" class="smartOrderTab"><i class="ti ti-tablet"></i><span>Smart Orders</span><span class="badge badge-teal" ng-if="smart_orders_length > 0">{{smart_orders_length}}</span></a>
                              </li>
                              <li>
                                  <a href="smart-orders-history.html" class="smartOrderTab"><i class="ti ti-check-box"></i><span>Smart Orders <b class="greyBadge"> Completed</b></a>
                              </li>
                              <!-- Online Orders -->
                              <li>
                                <a href="online-orders.html" class="onlineOrderTab"><i class="ti ti-truck"></i><span>Online Orders</span><span class="badge badge-teal" ng-if="pending_orders_length > 0">{{pending_orders_length}}</span></a>
                              </li>
                              <li>
                                <a href="online-orders-history.html" class="onlineOrderTab"><i class="ti ti-check-box"></i><span>Online Orders <b class="greyBadge"> Completed</b></span></a>
                              </li>
                              <li><a href="helpline-inbox.html"><i class="ti ti-headphone-alt"></i><span>Helpdesk</span><span class="badge badge-inverse" ng-if="helprequests_length > 0">{{helprequests_length}}</span></a></li>
                              <li><a href="edit-menu.html"><i class="ti ti-receipt"></i><span>Master Menu</span></a></li>
                              <li><a href="reservations.html"><i class="ti ti-bookmark-alt"></i><span>Reservations</span><span class="badge badge-inverse" ng-if="reservations_length > 0">{{reservations_length}}</span></a></li>
                              <li><a href="feedback.html"><i class="ti ti-thumb-up"></i><span>Feedbacks</span></a></li>
                              <!-- Order Settings -->
                              <li>
                                    <a href="javascript:;"><i class="ti ti-settings"></i><span>Order Settings</span></a>
                                    <ul class="acc-menu">
                                        <li><a href="smart-orders-rejected.html">Smart Orders - Rejected</a></li>
                                        <li><a href="failed-orders.html">Online Orders - Failed</a></li>
                                        <li><a href="smart-orders-settings.html">Smart Order Settings</a></li>
                                     </ul>
                              </li>
                              <li>
                                     <a href="javascript:;"><i class="ti ti-view-grid"></i><span>Tools</span></a>
                                     <ul class="acc-menu">
                                        <li><a href="staff-registry.html">Staff Registry</a></li>
                                        <li><a href="finance-ledger.html">Sales Ledger</a></li>
                                        <li><a href="user-profile.html">Search User</a></li>
                                     </ul>
                              </li>
                              <li>
                                     <a href="javascript:;"><i class="ti ti-stats-up"></i><span>Marketing</span></a>
                                     <ul class="acc-menu">
                                        <li><a href="promotions.html">Coupons Manager</a></li>
                                        <li><a href="marketing-wizard.html">Marketing Content</a></li>
                                        <li><a href="messenger.html">Messenger</a></li>
                                        <li><a href="analytics.html">Sales Analytics</a></li>
                                        <li><a href="vouchers.html">Vouchers Manager</a></li>
                                     </ul>
                              </li>
                           </ul>
                       </nav>
                    </div>
                 </div>
              </div>
           </div>
            <div class="static-content-wrapper">
               <div class="static-content">
                  <div class="page-content">
                     <ol class="breadcrumb">
                     </ol>
                     <div class="container-fluid">
                        <div data-widget-group="group1">

                           <div class="row">

                              <div class="col-md-4">
                                 <div class="panel panel-teal" data-widget='{"draggable": "false"}'>
                                    <div class="panel-heading">
                                       <h2>Cuisines</h2>
                                    </div>
                                    <div class="panel-body no-padding">
                                       <table class="table m-n table-hover">
                                          <tbody>
                                             <tr ng-repeat="main in menu">
                                                <td ng-click="showCuisineItems(main.mainType)">{{main.mainName}}</td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>

                                 <span ng-if="cuisine" class="btn btn-block btn-large btn-success" style="text-transform: none;" ng-click="markAllAvail(cuisine.mainType)">Mark all {{cuisine.mainName}} available</span>

                              </div>
                              <div class="col-md-7">
                                 <div class="panel panel-bluegray"  data-widget='{"draggable": "false"}'>
                                    <div class="panel-heading">
                                       <h2 ng-if="cuisine">{{cuisine.mainName}}</h2>
                                    </div>
                                    <div class="panel-body" ng-if="cuisine">
                                       <div id="earnings" class="mt-sm mb-sm">
                                          <!-- Order Data -->
                                          <div class="table-responsive">
                                             <table class="table table-condensed" ng-repeat="subtype in cuisine.subCategories">
                                               	<col width="60%">
                                               	<col width="20%">                                               	
  						<col width="20%">
                                                <thead>
                                                   <tr>
                                                      <th style="font-size: 21px; color: #e74c3c">{{subtype.subName}}</th>
                                                      <th></th>
                                                      <th></th>
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                   <tr ng-repeat="item in subtype.items">
                                                      <td>{{item.itemName}}</td>
                                                      <td id="{{item.itemCode}}_pricebutton">
                                                      	<button class="btn btn-sm zaitoonAdd open-AddCustomItemDialog" data-id="{{item}}" data-toggle="modal" data-target="#customiseItem"> <i class="fa fa-inr"></i> {{item.itemPrice}} </button>
                                                      </td>
                                                      <td>
                                                      	<a ng-if="item.isAvailable" ng-click="resetAvail(item.itemCode, item.isAvailable); item.isAvailable = !item.isAvailable; " id="{{item.itemCode}}"><span class="label label-success">Available</span></a>
                                                      	<a ng-if="!item.isAvailable" ng-click="resetAvail(item.itemCode, item.isAvailable); item.isAvailable = !item.isAvailable; " id="{{item.itemCode}}"><span class="label label-danger">Out of Stock</span></a>
                                                      </td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- .container-fluid -->
                  </div>
                  <!-- #page-content -->
               </div>
            </div>
         </div>
      </div>
      
      
    <!-- ADD CUSTOM ITEM - Modal -->
    <div id="customiseItem" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="border-radius: 0px">
          <div class="modal-header" style="color: #27ae60">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="customOptionsTitle">Set Price</h4>
          </div>
          <div class="modal-body">
            <ol class="rectangle-list" style="padding: 0px" id="customOptionsBody">
            </ol>
          </div>
        </div>

      </div>
    </div>

    <!-- For passing data to modal -->
    <script>
    $(document).on("click", ".open-AddCustomItemDialog", function () {
     var item = $(this).data('id');
     var list = '<input id="price_'+item.itemCode+'" type="text" style="border: none; text-align: center; font-size: 21px; border-bottom: 1px solid #bdc3c7; width: 70%; padding: 10px; margin: 0px;" value='+item.itemPrice+'><button onclick="changePrice(\''+item.itemCode+'\', \''+item.itemName+'\', false, 0)" class="btn btn-success" style="width: 20%; margin-top: 15px; float: right">OK</button>';
     var i = 0;
     if(item.isCustom){
	     list = '<table style="width:100%">';
	     while(i < item.custom.length){
	     	list = list + '<tr> <td style="font-size: 18px; font-weight: bold;">'+item.custom[i].customName+'</td> <td><input id="'+item.itemCode+'_'+i+'" name="'+item.custom[i].customName+'" type="text" style="border: none; font-size: 21px; border-bottom: 1px solid #bdc3c7; width: 60%; padding: 10px; text-align: center; margin: 0px;" value='+item.custom[i].customPrice+'></td> </tr>';
	       i++;
	     }
	     list = list + '</table><br><button onclick="changePrice(\''+item.itemCode+'\', \''+item.itemName+'\', true,'+i+')" class="btn btn-success" style="width: 20%; margin-top: 15px; float: right">OK</button><br><br>';
     }
     
     document.getElementById("customOptionsTitle").innerHTML = "Change Price of "+item.itemName;
     document.getElementById("customOptionsBody").innerHTML = list;
    });
    </script>
    


      <!-- Load site level scripts -->
      <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
         <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script> -->
      <script type="text/javascript" src="assets/js/jquery-1.10.2.min.js"></script> 							<!-- Load jQuery -->
      <script type="text/javascript" src="assets/js/jqueryui-1.10.3.min.js"></script> 							<!-- Load jQueryUI -->
      <script type="text/javascript" src="assets/js/bootstrap.min.js"></script> 								<!-- Load Bootstrap -->
      <script type="text/javascript" src="assets/js/enquire.min.js"></script> 									<!-- Load Enquire -->
      <script type="text/javascript" src="assets/plugins/velocityjs/velocity.min.js"></script>					<!-- Load Velocity for Animated Content -->
      <script type="text/javascript" src="assets/plugins/velocityjs/velocity.ui.min.js"></script>
      <script type="text/javascript" src="assets/plugins/wijets/wijets.js"></script>     						<!-- Wijet -->
      <script type="text/javascript" src="assets/plugins/codeprettifier/prettify.js"></script> 				<!-- Code Prettifier  -->
      <script type="text/javascript" src="assets/plugins/bootstrap-switch/bootstrap-switch.js"></script> 		<!-- Swith/Toggle Button -->
      <script type="text/javascript" src="assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->
      <script type="text/javascript" src="assets/plugins/iCheck/icheck.min.js"></script>     					<!-- iCheck -->
      <script type="text/javascript" src="assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller -->
      <script type="text/javascript" src="assets/js/application.js"></script>
      <script type="text/javascript" src="assets/demo/demo.js"></script>

   </body>
</html>
