<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Zaitoon Manager</title>
      <link type='text/css' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600' rel='stylesheet'>
      <link type="text/css" href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <link type="text/css" href="assets/fonts/themify-icons/themify-icons.css" rel="stylesheet">
      <link type="text/css" href="assets/css/styles.css" rel="stylesheet">
      <link type="text/css" href="assets/plugins/codeprettifier/prettify.css" rel="stylesheet">
      <link type="text/css" href="assets/plugins/iCheck/skins/minimal/blue.css" rel="stylesheet">
      <link rel="shortcut icon" href="assets/icons/favicon.png">
      <!-- Controller -->
      <script src="assets/js/jquery.js"></script>
      <script src="assets/js/angular.min.js"></script>
      <script src="assets/js/angular-cookies.min.js"></script>
      <script src="controllers/attendance.js"></script>
      
      <!-- CROPPER -->
      <script src="assets/plugins/cropper/cropper.js"></script>
      <link type="text/css" href="assets/plugins/cropper/cropper.css" rel="stylesheet">
      
      <script>
			$(window).ready(function() {
				$('#loading').hide();
			});		
		</script>
		
      
      <!-- For Form -->
      <link type="text/css" href="assets/plugins/bootstrap-tokenfield/css/bootstrap-tokenfield.css" rel="stylesheet">   <!-- Tokenfield -->
   </head>

   <body class="animated-content" ng-app="attendanceApp" ng-controller="attendanceController" ng-cloak>   
      <div id="loading"></div>
      <header id="topnav" class="navbar navbar-fixed-top navbar-midnightblue" role="banner">      
         <div class="logo-area">
            <span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
            <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
            <span class="icon-bg">
            <i class="ti ti-menu"></i>
            </span>
            </a>
            </span>
            <a class="navbar-brand" href="index.html" style="width: 125px"></a>
            <h1 style="font-size: 18px; font-weight: bold; color: #ffd042; text-transform: uppercase">{{outletCode}}</h1>
         </div>
         <!-- logo-area -->
         <ul class="nav navbar-nav toolbar pull-right">
            <li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
               <a href="#" class="toggle-fullscreen"><span class="icon-bg"><i class="ti ti-zoom-in"></i></span></i></a>
            </li>
            <li class="dropdown toolbar-icon-bg">
               <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
               <img class="img-circle" src="assets/img/default_user.png" alt="" />
               </a>
               <ul class="dropdown-menu userinfo arrow">
                  <li><a href="settings.html"><i class="ti ti-settings"></i><span>Settings</span></a></li>
                  <li ng-click="logoutNow()"><a href="#/"><i class="ti ti-shift-right"></i><span>Sign Out</span></a></li>
               </ul>
            </li>
         </ul>
      </header>
      <div id="wrapper">
         <div id="layout-static">
            <div class="static-sidebar-wrapper sidebar-bluegray">
               <div class="static-sidebar">
                  <div class="sidebar">
                     <div class="widget stay-on-collapse" id="widget-sidebar">
                        <nav role="navigation" class="widget-body">
                           <ul class="acc-menu">
                              <li><a href="index.html"><i class="ti ti-layout-grid2"></i><span>Table Manager</span><span class="badge badge-teal" ng-if="pending_orders_length > 0">{{pending_orders_length}}</span></a></li>
                              <li><a href="reservations.html"><i class="ti ti-bookmark-alt"></i><span>Reservations</span><span class="badge badge-inverse" ng-if="reservations_length > 0">{{reservations_length}}</span></a></li>
                              <li><a href="redeem.html"><i class="ti ti-gift"></i><span>Redeem Coupon</span></a></li>
                              <li><a href="feedback.html"><i class="ti ti-thumb-up"></i><span>Feedbacks</span></a></li>
                              <li><a href="guest-profile.html"><i class="ti ti-user"></i><span>Guest Details</span></a></li>
                              <li><a href="referals.html"><i class="ti ti-star"></i><span>Referral Program</span></a></li>
                              <li>
                                 <a href="javascript:;"><i class="ti ti-id-badge"></i><span>Human Resources</span></a>
                                 <ul class="acc-menu">
                                    <li><a href="people.html">People</a></li>
                                    <li><a href="attendance.html">Attendance</a></li>
                                    <li><a href="salary-slips.html">Salary Slips</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="javascript:;"><i class="ti ti-package"></i><span>Inventory</span></a>
                                 <ul class="acc-menu">
                                    <li><a href="inventory-stock.html">Stock</a></li>
                                    <li><a href="inventory-stock-register.html">Stock Register</a></li>
                                    <li><a href="inventory-vendors.html">Vendors</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="javascript:;"><i class="ti ti-settings"></i><span>Tools</span></a>
                                 <ul class="acc-menu">
                                    <li><a href="resources-steward.html">Stewards</a></li>
                                    <li><a href="resources-reservationchannel.html">Reservation Channels</a></li>
                                    <li><a href="tables.html">Tables List</a></li>
                                    <!--<li><a href="settings.html">Account Settings</a></li>-->
                                 </ul>
                              </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
            <div class="static-content-wrapper">
		    <div class="static-content">
		    
<div class="page-content">
                    <ol class="breadcrumb">
                    </ol>
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-md-4">
                              <div class="info-tile tile-blue">
                                 <div class="tile-icon"><i class="ti ti-user"></i></div>
                                 <div class="tile-heading"><span>Total Employees</span></div>
                                 <div class="tile-body">
                                 	<span ng-if="figure_total_employees != undefined">{{figure_total_employees}}</span>
                                 	<span ng-if="figure_total_employees == undefined">...</span>
                                 </div>
                                 <div class="tile-footer"><span class="text-default">Employees</span></div>
                              </div>

                              <div class="info-tile tile-green">
                                 <div class="tile-icon"><i class="ti ti-check"></i></div>
                                 <div class="tile-heading"><span>Present</span></div>
                                 <div class="tile-body">
                                    <span ng-if="figure_total_present != undefined">{{figure_total_present}}</span>
                                    <span ng-if="figure_total_present == undefined">...</span>
                                 </div>
                                 <div class="tile-footer"><span class="text-default">On Duty Today</span></div>
                              </div>
                              <div class="info-tile tile-danger">
                                 <div class="tile-icon"><i class="ti ti-close"></i></div>
                                 <div class="tile-heading"><span>Absent</span></div>
                                 <div class="tile-body">
                                    <span ng-if="figure_total_absent != undefined">{{figure_total_absent}}</span>
                                    <span ng-if="figure_total_absent == undefined">...</span>
                                 </div>
                                 <div class="tile-footer"><span class="text-default">Absent Today</span></div>
                              </div>


                           </div>    




                              <!-- WIZARDS SECTION -->
                              
                              <div class="col-md-6">
                              
                               <!-- COMBOS -->
                                 <div class="panel panel-bluegray">
                                    <div class="panel-heading" style="background: #27ae60 !important;">
                                       <h2>Mark Attendance</h2>
                                    </div>
                                    <div class="panel-body">
                                       <div class="row">
                                          <div class="col-md-12">
                                             <form class="form-horizontal tabular-form">

                                                <div class="form-group">
                                                   <label for="form-name" class="col-sm-3 control-label">Date</label>
                                                   <div class="col-sm-8">
                                                      <div class="input-group date">
                                                         <input type="text" ng-model="attendancePopup.date" id="new_attendance_date" class="form-control ng-pristine">
                                                         <span class="input-group-addon"><i class="ti ti-calendar"></i></span>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="form-group">
                                                   <label for="form-name" class="col-sm-3 control-label">Attendance</label>
                                                   <div class="col-sm-8">
                                                      <button class="btn-success btn" style="font-weight: 300; width: 100%" ng-click="showEmployeeSelector()">View</button>
                                                   </div>

                                                </div>
                                                
                                             </form>
                                          </div>
                                       </div>
                                       
                                       <p style="color: #e74c3c; font-weight: bold; margin: 10px 0px 0px 0px; text-align: center;">{{newContentSaveError}}</p>
                                       
                                    </div>  
                                 </div>

                                 
                                 
                              </div>



                           
                        </div>
                        
			

			</div> <!-- Container fluid -->
		      </div> <!-- Page content -->
		    </div>
		
		</div>



         </div>
      </div>
  





               <!-- SEATING PLAN Modal -->
               <div class="modal fade" id="attendancePlanModal" style="z-index: 1800" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog" style="width: 80%;">
                     <div class="modal-content">
                        <div class="modal-header" style="padding: 16px; background: #27ae60 !important;">
                           <h2 style="margin: 0; color: #FFF; text-align: center; font-size: 21px;">Attendance Record as on <b>{{displayDate}}</b></h2>
                        </div>
                        <div class="modal-body" style="padding: 5px 12px 20px 5px" ng-if="seatPlanError == ''">
                        <center>
                           
                           <div class="row" ng-repeat="role in attendanceData track by $index">
                              <p style="text-align: center; font-size: 21px; margin: 20px 0 5px 0">{{role.designation}}</p>
                              
                              <button class="btn" ng-attr-id="{{'seat_'+person.employeeID}}" ng-repeat="person in role.people" ng-class="getMyClass(person)" ng-click="staffOptions(person);" style="width: 120px; height: 150px; margin-right: 10px; margin-top: 10px; padding: 2px; position: relative; text-align: center;">

                                 <img ng-if="person.photoURL && person.photoURL != ''" ng-src="{{person.photoURL}}" style="cursor: pointer; width: 100%">

                                 <img ng-if="!person.photoURL || person.photoURL == ''" src="assets/img/default_user.png" style="cursor: pointer; width: 100%" class="img-circle">

                                 <div class="centeredOverlay">
                                    <tag ng-if="person.attendance == 1" style="color: rgba(249, 193, 51, .85);
    font-size: 24px;">Half Day</tag>
                                    <tag ng-if="person.attendance == 2" style="color: rgba(126, 184, 61, 0.7);
    font-size: 60px;"><i class="fa fa-check"></i></tag>
                                    <tag ng-if="person.attendance == 5" style="color: rgba(230, 67, 46, 0.7);
    font-size: 60px;"><i class="fa fa-times"></i></tag>
                                 </div>

                                 <tag class="seatCapacity" style="font-weight: 300; font-size: 16px; padding-top: 4px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;">{{person.fName}}</tag>
                              </button>
                           </div>                           
                     
                        </center>
                        </div>   
                        
                        <div class="modal-body" ng-if="seatPlanError != ''">
                           <p style="font-size: 16px; color: #e74c3c; text-align: center">{{seatPlanError}}</p>                                  
                        </div>                                                                                                               
                        <div class="modal-footer" style="padding: 0; border: none">                      
                           <button type="button" style="height: 60px; font-weight: 300; float: left; width: 50%; border: none; border-radius: 0;" class="btn btn-default" data-dismiss="modal">Close</button>
                           
                           <button type="button"  class="btn" style="float: right; margin: 0; height: 60px; width: 50%; border: none; border-radius: 0; font-weight: 300; color: #FFF; background-color: #1abc9c" ng-click="confirmAttendance(attendanceData)">Save Attendance</button>
                        </div>
                     </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
               </div><!-- /.modal -->  
               





      
      <script type="text/javascript" src="assets/js/jquery-1.10.2.min.js"></script> 							<!-- Load jQuery -->
<script type="text/javascript" src="assets/js/jqueryui-1.10.3.min.js"></script> 							<!-- Load jQueryUI -->
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script> 								<!-- Load Bootstrap -->
<script type="text/javascript" src="assets/js/enquire.min.js"></script> 									<!-- Load Enquire -->
<script type="text/javascript" src="assets/plugins/form-typeahead/typeahead.bundle.min.js"></script>                 	<!-- Typeahead for Autocomplete -->
<script type="text/javascript" src="assets/plugins/velocityjs/velocity.min.js"></script>					<!-- Load Velocity for Animated Content -->
<script type="text/javascript" src="assets/plugins/velocityjs/velocity.ui.min.js"></script>

<script type="text/javascript" src="assets/plugins/wijets/wijets.js"></script>     						<!-- Wijet -->

<script type="text/javascript" src="assets/plugins/codeprettifier/prettify.js"></script> 				<!-- Code Prettifier  -->
<script type="text/javascript" src="assets/plugins/bootstrap-switch/bootstrap-switch.js"></script> 		<!-- Swith/Toggle Button -->

<script type="text/javascript" src="assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->

<script type="text/javascript" src="assets/plugins/iCheck/icheck.min.js"></script>     					<!-- iCheck -->

<script type="text/javascript" src="assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller -->

<script type="text/javascript" src="assets/js/application.js"></script>
<script type="text/javascript" src="assets/demo/demo.js"></script>


<script type="text/javascript" src="assets/plugins/form-validation/jquery.validate.min.js"></script>  					<!-- Validate Plugin -->
<script type="text/javascript" src="assets/plugins/form-stepy/jquery.stepy.js"></script>  								<!-- Stepy Plugin -->
<script type="text/javascript" src="assets/plugins/bootstrap-tokenfield/bootstrap-tokenfield.min.js"></script>     		<!-- Tokenfield -->
<script type="text/javascript" src="assets/demo/demo-formwizard.js"></script>
<script type="text/javascript" src="assets/demo/demo-formcomponents.js"></script>


      <script type="text/javascript" src="assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> <!-- DateTime Picker -->

    
   </body>
</html>
